.wrapper {
	margin-left: 260px;
}
.main {
	width: 750px;
	margin: 10px 0 0 10px;
}
.contact {
	height: 65px;
	background-color: #f2f2f2;
}
.top-banner {
	width: 100%;
	height: 450px;
}
.article {
	overflow: hidden;
}
.article-header {
	margin-top: 20px;
}
.article-title {
	font-size: 28px;
	color: #3081E8;
	font-weight: bold;
  text-transform: uppercase;
}
.article-date {
	margin-top: 10px;
	color: #324258;
}
.article-tag {
	margin-top: 8px;
}
.article-tag span {
	display: inline-block;
	line-height: 1;
	padding: 4px 6px;
	color: #fff;
	border-radius: 6px;
	margin-right: 5px;
	font-size: 12px;
}
.article-tag span.blue {
	background-color: #3081E8;
}
.article-tag span.purple {
	background-color: #503AEB;
}
.article-tag span.orange {
	background-color: #FFAB22;
}
.article-content {
	margin-top: 25px;
	line-height: 1.4;
	font-size: 16px;
	color: #324258;
}
.more-pic {
	width: 100%;
	height: 370px;
	margin-top: 10px;
}